
<div id='index'>
  <section id='instructions'>
    <h1>Welcome to LivingSocial!</h1>
    Please upload your plain-text file using this form so that we can import your data into our fancy database.
  </section>

  <section id='form'>
    <form action="" enctype="multipart/form-data" method="post" id="upload_form">
      <label for="data_file">Data File:</label>
      <input type="file" name="file" id="file" />
      <br />
      <input type="submit" value="Upload File" id="submit" />
    </form>
  </section>
</div>
