
<div id='login'>
  <section id='instructions'>
    <h1>Welcome to LivingSocial!</h1>
    Before we can continue we need to know who you are.
  </section>
  <br />
  <section id='login_form'>
    <form method="post" accept-charset="UTF-8" action='/login/openid'>
      <label for="">Log in with your OpenID:</label>
      <input type="text" class="openid" name="openid_identifier" />
      <input type="submit" value="Sign In" />
    </form>
  </section>
</div>
