
<div id='login'>
  <section id='login_feedback'>
    <img src='/images/mcc_otc_portrait3.jpg' width=513 height=362 alt='Now hear this....' /><br />
    <br />
    <%= feedback %>
  </section>
</div>
