
<section id='success'>
  <img src='/images/success_baby.jpg' width=513 height=339 alt='Success' /><br />
  <br />
  <%= line_count %> records imported for a total gross revenue of $<%= "%.2f" % revenue %>!
</section>
